<!-- <div id="about-us-text-banner">
  <img src="../assets/images/background.PNG">
  <h1>About Us</h1>
</div> -->
<div id="about-us-text-banner">
  <h1>Welcome</h1>
</div>
<div id="about-us-text" class="jumbotron">
  <br/>
  <p>
    Brigadeiros Brasil EP is based upon the idea of bringing Brazilian flavor to the Southwest. The Brigadeiro is one of the most tasteful and treasured desserts in Brazilian culture. It invokes a magical feeling to all who try it. Our story began with the desire to share this magic in a way that is unique and meaningful to our community.<br/><br/>
    Brigadeiros Brasil EP was founded by Carlos Marrufo and Juliana Noel-Morgan. Juliana’s love of making Brigadeiros was inspired by her heritage. Her father immigrated from Brazil and her mother from Venezuela. Their house was always filled with joy, merengue music and traditional cuisines. These deep, South American roots are where her love and curiosity for Brigadeiros began. This idea, coupled with Carlos’ entrepreneurial spirit, gave life to the newly formed business.<br/><br/> 
    Carlos and Juliana use her family’s recipe while combining it with fresh ingredients familiar to this region for a unique approach on this traditional treat. Whenever you have a Brigadeiro from Brigadeiros Brasil EP you can be assured that you are getting a quality, handmade dessert from El Paso’s original Brigadeiro company.
  </p>
  <hr>
  <p>
    What Is A Brigadeiro?<br/><br/>
    A Brigadeiro is a dulce de leche truffle with a soft, unique consistency that originates from Brasil.<br/><br/>
    In Brasil, Brigadeiros are at the center of each celebration! It is a cherished delicacy and is admired for its elegant presentation and diverse flavors. In Brazilian culture they are a way to commemorate the joia, or joyous, moments in life with family, friends, and loved ones alike. What makes the brigadeiro so magical is this very notion of being present in moments of deep sentimental value. So whether it’s a big wedding, a small gathering, or just a fun wine pairing amongst friends, we would love nothing more than to be a part of your occasion and share this magic with your close ones!<br/><br/>
    At Brigadeiros Brasil EP, we use the highest-quality ingredients to render to the perfect piece of dulce de leche truffle. We will work with your color schemes, flavor choices, and event ideas to coordinate a very special, customized display to ensure the magic of this tradition comes alive on your special day!
  </p>
</div>