<div id="locations-text" class="jumbotron">
  <p>Stay tuned to find us on shelves in local stores and café’s near you. You can currently find us at various farmers markets including:</p>
  <br/>
  <p>
    Downtown Artist and Farmer’s Market<br/>
    117 Anthony St, El Paso, TX 79901<br/>
    Saturdays 9:00 a.m. to 1:00 p.m.<br/>
  </p>
  <br/>
  <p>
    Upper Valley Artist and Farmer’s Market<br/>
    4820 Doniphan Dr, El Paso, TX 79922<br/>
    Sundays 11:00 a.m. to 3:00 p.m.
  </p>
  <hr>
  <p>
    Weddings Events - We would love to be a part of your big day! We do candy bars, table arrangements, and party favors. Visit our Products tab to give us a better idea of what you are looking for and we will contact you via email!<br/><br/>
    Corporate Events - We understand that relationships are everything. Make a lasting impression with your clients and partners with gifts and dessert bars that really stand out. We offer custom labeling with your corporate logo for that extra touch.<br/><br/>
    Wholesale - Are you a coffee shop, restaurant, curated gift box company, physical or online marketplace? If so we want to partner with you! Contact us to discuss setting up a wholesale account.
  </p>
</div>