<div class="product">
  <img src="../assets/images/poster.jpg">
  <div class="product-info jumbotron">
    <h3>$30.95</h3>
    <p>Large Assortment (24)</p>    
  </div>
</div>
<div class="product">
  <img src="../assets/images/poster.jpg">
  <div class="product-info jumbotron">
    <h3>$14.95</h3>
    <p>Medium Assortment (12)</p>    
  </div>
</div>
<div class="product">
  <img src="../assets/images/poster.jpg">
  <div class="product-info jumbotron">
    <h3>$8.95</h3>
    <p>Small Assortment (6)</p>    
  </div>
</div>
<div class="product">
  <img src="../assets/images/poster.jpg">
  <div class="product-info jumbotron">
    <h3>$30.95</h3>
    <p>Custom Assortment (24)</p>    
  </div>
</div>
<div class="product">
  <img src="../assets/images/poster.jpg">
  <div class="product-info jumbotron">
    <h3>$12.00</h3>
    <p>Brigadeiro Spread Jar</p>    
  </div>
</div>
<div class="product">
  <img src="../assets/images/poster.jpg">
  <div class="product-info jumbotron">
    <h3>$14.00</h3>
    <p>Cake Jar</p>    
  </div>
</div>
<div class="product">
  <img src="../assets/images/poster.jpg">
  <div class="product-info jumbotron">
    <h3>$55.00</h3>
    <p>Brigadeiro Tower</p>    
  </div>
</div>
<div class="product">
  <img src="../assets/images/poster.jpg">
  <div class="product-info jumbotron">
    <h3>$65.95</h3>
    <p>Gift Box (Medium +Small +2 Spread Jars +Cake Jar)</p>    
  </div>
</div>
<div class="product">
  <img src="../assets/images/poster.jpg">
  <div class="product-info jumbotron">
    <h3>$80.85</h3>
    <p>Gift Box (Large + Medium + Small + Spread Jar + Cake Jar)</p>    
  </div>
</div>