<div class="product">
  <img src="../assets/images/tableplatter.jpg">
  <div class="product-info jumbotron">
    <h3>$50.99</h3>
    <p>Table platter</p>    
  </div>
</div>
<div class="product">
  <img src="../assets/images/wedding.jpg">
  <div class="product-info jumbotron">
    <h3>$154.99</h3>
    <p>Wedding package</p>
  </div>
</div>
<div class="product">
  <img src="../assets/images/chocolate.jpg">
  <div class="product-info jumbotron">
    <h3>$34.99</h3>
    <p>Chocolate Gold</p>    
  </div>
</div>
<div class="product">
  <img src="../assets/images/glitter.jpg">
  <div class="product-info jumbotron">
    <h3>$28.99</h3>
    <p>Glitter</p>    
  </div>
</div>
<div class="product">
  <img src="../assets/images/sunny.jpg">
  <div class="product-info jumbotron">
    <h3>$124.99</h3>
    <p>Sunny Bright</p>    
  </div>
</div>

<!-- TODO: when click modal window comes up with details(includes: 5 glitter etc) and a order now button -->